<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>RegisterServelet</servlet-name>
        <servlet-class>com.example.t2009m1demo.controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServelet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>com.example.t2009m1demo.controllers.CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>
</web-app>